/* mobile first */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url(/css/colors.css);


* {
    box-sizing: border-box;
}

html, body, p {   
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #626262
}


.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.border {
    border: 1px solid black;
}

a {
    color: #2BAAEC;
    text-decoration: none;
    background-color: transparent;
}
  
a:hover {
    color: #25E6C8;
}


.text-primary {
    color:#2BAAEC;
}

.bg-dark {
   background: #333333;
   color: #ffffff; 
}

.bg-light {
    background: #f7f7f7;
    color: #333333; 
}

.bg-gray {
    background: #DEDEDE;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 0.76rem 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}

.btn-greenish {
    color: #fff;
    background-color: #25E6C8;
    font-weight: bold;
}

.btn-greenish:hover {
    cursor: pointer;
    background-color: #2BAAEC;
}

.collapse:not(.show) {
    display: none;
}

.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}


/*NAVBAR*/

.navbar-top {
    border-bottom: 1px solid #707070;

}

.navbar, .navbar-top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar .container, .navbar-top .container {
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.navbar-top .container {
    font-size: 0.8rem;
}

.navbar-top .container .hours {
    color:#626262;
}

.navbar-top .container .hours i {
    color: #2ba8ec;
    margin-right: 0.5rem;
    font-size: 1.2em;
}

.navbar-top .container .socialmedia a {
    margin: 0 0.5rem;
}

.navbar {
    margin: 1.2rem 0;
}

.navbar-brand {
    display: inline-block;
    font-size: 1.5rem;
    color: black;
    margin-right: 1rem;  
}

.navbar-brand img {
    height: 4rem;
    margin-top: 0.5rem;
}

.navbar-toggler {
    font-size: 2.5rem;
    color:#2BAAEC;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-collapse {
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: #363636;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
    padding: 0;
    text-decoration: none;
}

        /*SHOWCASE*/

#showcase .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}

#showcase .container img {
    display: none;
}

#showcase .container .content-box {
    align-self: center;
    color: #363636;
    font-weight: 300;
}

.content-box .content h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.1;
}

.content-box .content p {
    font-size: 0.9rem;
}

    /*ABOUT US*/

    #aboutUs .container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 4rem;
    }
    
    #aboutUs .container img {
        width: 250px;
        height: auto;
        margin-left: 2.5rem;
    }

    #text-box-1 {
        padding: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    #aboutUs .content h1 {
        color: #363636;
        font-family: 'Roboto Slab', serif;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.1;
        margin: 3rem;
        border-bottom: 2px solid #25E6C8;
        padding: 2rem;
    }

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.counter p{

    font-weight: 800px;
    font-family: roboto slab;
}
.counter p span{
    font-family: Roboto Slab;
    color: #2BAAEC;
    font-size: 20px;
    font-weight: 900;
}

/*services*/
#services {
    background-color: #F7F7F7;
    }

    #services .rubrik3 h1 {
        color: #363636;
        font-family: 'Roboto Slab', serif;
        font-size: 1.8rem;
        font-weight: 300;
        border-bottom: 4px solid #25E6C8;
        padding: 2rem;
    }

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    padding: 40px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px ;
    text-align: center;
    padding: 2rem;
  }

  .boxes {
    font-family: 'Roboto';
    color: #626262;
    }

  .boxes h3 {
    font-size: 28px;
  }

  .boxes p {
    font-size: 12px;
  }

  .boxes img {
      padding: 0.75em;
      width: 50%;
  }



        /*APPOINTMENT*/


#appointment {
    background-color: #2BAAEC;
    opacity: 80%;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#appointment p {
    font-size: 15px;
    font-weight: 600;
    padding:1em;
}

.center-content {
    display: block;
    text-align: center;
}

.btn1 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 0.75rem 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}

.btn-white {
    color: #2BAAEC;
    background-color: #ffffff;
    font-weight: bold;
}

.btn-white:hover {
    cursor: pointer;
    background-color: #ffffff;
}


        /*FOOTER*/

footer {

padding-top: 2rem;
padding-bottom: 2rem;
font-family: 'Roboto', sans-serif;
}


        /*MEDIA QUARIES*/


@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }
    
    .center-content {
        display:flex;
        justify-content: space-between;
        padding: 2rem 0;
    }


    .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    
    .navbar-nav {
        flex-direction: row;
    }

    .navbar-toggler {
        display: none;
    }
    
    .collapse:not(.show) {
        display: flex;
    }

    .container {
        max-width: 720px;
    }

    #showcase .container img {
        display: flex;
        width: 350px;
        height: auto;
        margin-top: 1rem;
    }

    #aboutUs .container img {
        display: flex;
        width: 300px;
        margin-top: 10rem;
        margin-left: 1rem;
    }

    #aboutUs .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #aboutUs .content1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;

    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 100px;
        padding: 40px;
      }
      
      .grid-container > div {
        padding: 2rem;
      }

    .boxes img {
        padding: 0.75em;
        width: 40%;
    }

}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 90px;
        padding: 120px;
      }
      
      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 25px;
      }

      .boxes img {
        padding: 0.75em;
        width: 40%;
    }

    #aboutUs .container img {
        display: flex;
        width: 400px;
        height: auto;
        margin-top: 5rem;
    }

    #appointment p {
        font-size: 18px;
        font-weight: 600;
        padding:1em;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}